{% extends 'base.html' %} {% load static %}


{% block 'main' %}
<section id="blogs-holder">
  <div class="blogs-wrapper">
    <div class="recomms">
      <div class="recomms-wrapper">
        <h2>HWWW</h2>
        <p>How Why What When</p>
        {% if request.user.is_authenticated %}
        <div class="add-blog">
          <a href="{% url 'cblogs' %}"><button>Create Blog <i data-feather="plus"></i></button></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="all-blogs">
    {% for blog in blogs %}
    <a href="{% url 'sblog' blog.id %}">
      <div class="blog-item">
        <div class="thumbnail" style="background-image: url({{blog.thumbnail.uri}});">
          <div class="text">
            <h2>{{blog.title}}{{blog.thumbnail.uri}}</h2>
            <p>{{blog.date_published}} | {{blog.author}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}