{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<section class="service-details">
  <div class="service-details-wrap"></div>
</section>

<section id="home-section">
  <div class="main-header">
    <div>
      <h2 id="headp-1">Let's Create</h2>
      <h2 id="headp-2">GREATNESS</h2>
    </div>
  </div>
  <i id="scroll-down-img" data-feather="chevron-down" style="color: white;"></i>
</section>
<section id="tail">
  <section id="tail-wrap">
    <section id="nav-points">
      <section id="about-section">
        <h2 class="heading-about">ABOUT</h2>
        <p>
          Hey, do you want to create top-grade content for your website, social
          media, etc, at ease? <br /><br />
          If yes, we’ve got this for you, we will serve you to create
          plagiarism-free and well-structured content that excels and connects
          with your prime audience. Content creation has never been more easier-
          check our services <a href="#service-section">here</a>.
        </p>
      </section>
      <section id="contact">
        <div id="contact-wrapper">
          <form id="contact-form">
            <h2>CONTACT</h2>
            <p>
              Please feel free to contact us at any time, We will get back to
              you as soon as possible.
            </p>
            <div class="input-grp">
              <input type="text" placeholder="Your good name." />
            </div>
            <div class="input-grp">
              <input type="email" placeholder="Your email" />
            </div>
            <div class="input-grp">
              <button>Submit</button>
            </div>
          </form>
        </div>
      </section>
    </section>
    <section id="service-section">
      <section id="service-heading">
        <h1>Services</h1>
      </section>
      <section id="services-wrapper">
        <section class="service podcast" data-name="e-book-writing">
          <div class="service_wrap">
            <h2>E-Book Writing</h2>
            <p>
              Non-fiction e-books for ex personal growth, self-help, personality
              development, business, psychology.
            </p>
          </div>
        </section>
        <section class="service" data-name="podcast-script-writing">
          <div class="service_wrap">
            <h2>Podcast Script Writing</h2>
            <p>
              Personal growth, business, psychology, economics, self-help,
              finance, personality development, films and TV, pop culture
              entertaintment.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>Articles and Blogs</h2>
            <p>
              Personal growth, business, psychology, economics, self-help,
              finance, personality development, films and TV, pop culture
              entertaintment.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>Social Media Copy</h2>
            <p>
              Captions, bios for Instagram, content for personal website,
              portfolio.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>Product Description</h2>
            <p>
              Lifestyle products, daily use products, apparel, books, styling
              products.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>Beta Reading</h2>
            <p>
              Non-fiction genre, business, psychology, economics, self-help,
              finance, personality development, films and TV, pop culture
              entertainment.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>Speech Writing</h2>
            <p>
              Personal growth, business events, conferences, keynote speeches,
              TED likes, etc.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>E-Content Writing</h2>
            <p>
              Personal growth, business, psychology, economics, writing,
              self-help, finance, personality development, films and TV, pop
              culture entertainment.
            </p>
          </div>
        </section>
        <section class="service">
          <div class="service_wrap">
            <h2>White papers</h2>
            <p>
              Personal Growth, Business, psychology, economics, writing,
              self-help, finance, personality development, films, and TV, pop
              culture entertainment.
            </p>
          </div>
        </section>
      </section>
    </section>
  </section>
</section>
{% endblock %}